*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-size: .9em;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--background-color);
    color: var(--detalhes);
    font-size: 14px;
    line-height: 1.5;
}

.topbar {
    background: var(--background-color);
    border-bottom: 1px solid var(--border);
    padding: 18px 24px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 14px;
}

.topbar i {
    font-size: 1.5em;
}

.topbar label {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.header-left {
    display: flex;
    flex-direction: column;
    padding: 0 45px;
}

.header-left h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--title);
}

.header-left p {
    font-size: 13px;
    color: var(--detalhes);
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--text-color);
    border: 1px solid var(--border);
    border-radius: 24px;
    padding: 4px 15px;
    cursor: pointer;
}

.container-pagina {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 50px;
    margin-bottom: 150px;
}

.card-cadastro-produto {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    background: var(--text-color);
    border: 1px solid var(--border);
    border-radius: 8px;
}

.main-card-cadastro {
    margin-top: 20px;
}

form {
    width: 100%;
    padding: 30px 20px;
    border-radius: 15px;
    justify-content: center;
}

.top-card-cadastro {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--border);
}

.top-card-cadastro img {
    height: 3vh;
}

.top-form {
    display: flex;
    gap: 15px;
}

.top-form input {
    min-width: 410px;
    width: 100%;
    outline: none;
    border: 1px solid var(--border);
    font-family: 'Inter', sans-serif;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo label span {
    color: var(--red);
    font-weight: bold;
    gap: 10px;
}

select {
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 10px;
    min-width: 200px;
    outline: none;
}

input {
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 10px;
    max-width: 1200px;
    width: 100%;
    outline: none;
}

.main-form {
    margin-top: 50px;
    display: flex;
    gap: 15px;
}

.main-form input {
    min-width: 410px;
    width: 100%;
    outline: none;
    border: 1px solid var(--border);
    font-family: 'Inter', sans-serif;
}

.financas {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.arquivo-imagem {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.arquivo-imagem label span {
    color:  var(--red);
    font-weight: bold;
}

.descricao {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 5px;
}

.descricao textarea {
    resize: none;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid var(--border);
    outline: none;
    min-height: 20vh;
    font-family: 'Inter' sans-serif;
}

.botoes {
    border-top: 0.5px solid var(--border-fraca);
    padding: 20px 0;
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: end;
}

.botoes a {
    text-decoration: none;
    color: var(--title);
    border: 1px solid var(--border);
    padding: 10px 30px;
    border-radius: 8px;
}

.botoes button {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 20px;
    border-radius: 8px;
    background: var(--orange);
    color: var(--text-color);
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: 500;
}