:root {
    --primary: #1D4ED8;
    --green: #22C55E;
    --red: #EF4444;
    --orange: #F97316;
    --primary-color: #074880;
    --secondary-color: #C26931;
    --orange-grafico: #ff7700;
    --blue-grafico: #2b09ec;
    --background-color: #fdfdfd;
    --title: #04196B;
    --top-header: #032949e3;
    --text-color: #FFFFFF;
    --border: #e5e7eb;
    --detalhes: #032949;
    --icon-box: #aaaaaa;
    --text-info: #707070b4;
    --box-critico: #fa3e3e71;
    --box-atencao: #f9c74f71;
    --text-atencao: #ffd902;
    --text-critico: #ff0000;
    --border-lista: #e5e7eb34;
    --footer-sidebar: #031349;
}

#menu-toggle {
    display: none;
}

/* SIDEBAR */

.sidebar {
    width: 15vw;
    height: 100vh;
    background: var(--title);
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    position: fixed;
}

.menu-btn {
    font-size: 1.5rem;
    color: var(--title);
    cursor: pointer;
    transition: .3s;
}

.menu-btn:hover {
    transform: scale(1.1);
}

#menu-toggle:checked ~ .sidebar {
    margin-left: -300px;
}

.content {
    flex: 1;
    margin-left: 290px;
    min-width: 0;
}

#menu-toggle:checked ~ .content {
    margin-left: 0;
}

.logo {
    align-self: center;
    margin-top: -40px;
    font-size: 1.8rem;
    color: var(--primary);
}

.logo img {
    height: 20vh;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

/* .sidebar a {
    height: 50px;
    display: flex;
    justify-content: start;
    padding: 0 30px;
    align-items: center;
    color: var(--text-info);
    text-decoration: none;
    transition: .3s;
    text-align: justify;
} */

.sidebar a:hover {
    background: var(--border-lista);
    color: white;
    border-bottom: 1px solid var(--border-lista);
}

.sidebar a:focus {
    background: var(--orange);
    color: white;
    border-bottom: 1px solid var(--border-lista);
}

.lista-sidebar {
    display: flex;
    flex-direction: column;
}

.lista-sidebar a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 10px;
    text-decoration: none;
    display: flex;
    gap: 20px;
}

.footer-sidebar {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.user-info-sidebar {
    display: flex;
    align-items: center;
    gap: 15px;
    background: var(--footer-sidebar);
    padding: 10px;
}

.user-info-sidebar i {
    color: var(--text-color);
    font-size: 1.5rem;
}

.user-name p {
    color: var(--text-color);
    font-size: 1rem;
}

.user-name span {
    color: var(--text-info);
    font-size: .8rem;
}

.exit a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px;
    background: var(--orange);
}

.exit a:hover {
    background: var(--orange-hover);
}