.hero-ajuda {
    margin-top: 50px;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    gap: 40px;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1;
    min-width: 300px;
}

.hero-text h1 {
    font-size: 72px;
    color: #f59e0b;
    margin-bottom: 25px;
}

.hero-text p {
    font-size: 22px;
    line-height: 1.8;
    color: #475569;
    max-width: 650px;
}

.hero-img {
    flex: 1;
    min-width: 300px;
}

.hero-img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
}

.search-box {
    width: 100%;
    background: white;
    margin-top: 35px;
    border-radius: 22px;
    padding: 22px 30px;

    display: flex;
    align-items: center;
    gap: 18px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.faq {
    margin-top: 70px;
    background: #f8fafc;
    padding: 50px;
    border-radius: 30px;
}

.faq-title {
    text-align: center;
    margin-bottom: 45px;
}

.faq-title h2 {
    font-size: 52px;
    color: #072c5c;
}

.line {
    width: 100px;
    height: 5px;
    background: var(--laranja);
    margin: 18px auto 0;
    border-radius: 20px;
}

.faq-card {
    background: white;
    border-radius: 22px;
    border-left: 6px solid var(--laranja);
    padding: 28px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .06);
    transition: .3s;
}

.faq-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(7, 44, 92, .12);
}

.faq-left {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
}

.faq-icon {
    width: 65px;
    height: 65px;
    border-radius: 18px;
    background: #eff6ff;
    color: #f59e0b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.faq-text {
    flex-grow: 1;
}

.faq-text h3 {
    font-size: 30px;
    color: #072c5c;
    margin-bottom: 12px;
    font-weight: 700;
}

.faq-text p {
    font-size: 17px;
    color: #475569;
    line-height: 1.7;
}

.painel-faq {
    width: 100%;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #e5e7eb;
}

.arrow {
    list-style: none;
    cursor: pointer;
    width: 100%;
    height: 36px;
    position: relative;
}

.arrow::-webkit-details-marker {
    display: none;
}

.arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    transform: translate(-50%, -50%);
    background: #fff7ed;
    border: 1px solid var(--laranja);
    border-radius: 999px;
    transition: all .25s ease;
}

.arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-right: 2px solid var(--laranja);
    border-bottom: 2px solid var(--laranja);
    transform: translate(-50%, -60%) rotate(45deg);
    transition: transform .25s ease;
}

.arrow:hover::before {
    background: #072c5c;
    border: 1px solid #ffffff;
}

.arrow:hover::after {
    background: #072c5c;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;

}

.painel-faq[open] .arrow::after {
    transform: translate(-50%, -40%) rotate(-135deg);
}

.painel-conteudo {
    background: #f8fafc;
    border-left: 4px solid var(--laranja);
    padding: 20px 25px;
    border-radius: 15px;
    margin-top: 15px;
    color: #475569;
    line-height: 1.8;
}

.cta-ajuda {
    margin-top: 45px;
    margin-bottom: 80px;

    background: #e8f0ff;
    border-radius: 25px;
    padding: 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.cta-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cta-icon {
    width: 75px;
    height: 75px;
    border-radius: 20px;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;
}

.cta-text h3 {
    font-size: 38px;
    margin-bottom: 10px;
    color: #072c5c;
}

.cta-text p {
    font-size: 18px;
    color: #475569;
}

.cta-ajuda button {
    padding: 18px 35px;
    border: none;
    border-radius: 15px;
    background: #072c5c;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.cta-ajuda button:hover {
    background: #041b39;
}