/* =========================
BANNER
========================= */

.banner{
  padding:30px 0 10px;
  width:100% ;
  font-size:14px;
  justify-items: center;
  display: flex;
  border-radius: 30px;

}

.banner img{
  width:100% ;
  font-size:14px;
    border-radius: 30px;

}

/* =========================
HERO
========================= */

.hero{
  display:flex;
  justify-content:space-between;
  gap:40px;
  margin-top:20px;
  align-items:center;
}

.hero-text{
  width:50%;
}

.hero-text span{
  color:#f59e0b;
  font-weight:bold;
  text-transform:uppercase;
}

.hero-text h1{
  font-size:58px;
  margin:18px 0;
  line-height:1.1;
  color:#082f63;
}

.hero-text p{
  font-size:20px;
  color:#475569;
  line-height:1.7;
}

.stats{
  display:flex;
  gap:30px;
  margin-top:35px;
}

.stat-box{
  display:flex;
  align-items:center;
  gap:15px;
}

.stat-box i{
  width:60px;
  height:60px;
  background:#032b5c;
  border-radius:12px;

  display:flex;
  justify-content:center;
  align-items:center;

  color:white;
  font-size:28px;
}

.stat-box h2{
  color:#032b5c;
}

.hero-img{
  width:50%;
}

.hero-img img{
  width:100%;
  border-radius:25px;
  object-fit:cover;
}

/* =========================
HISTORIA
========================= */

.historia{
  margin-top:60px;

  background:white;
  border-radius:25px;

  padding:35px;

  display:flex;
  gap:40px;
  align-items:center;
}

.historia-img{
  width:50%;
}

.historia-img img{
  width:100%;
  border-radius:20px;
}

.historia-text{
  width:50%;
}

.historia-text span{
  color:#f59e0b;
  font-weight:bold;
  text-transform:uppercase;
}

.historia-text h2{
  font-size:46px;
  color:#082f63;
  margin:18px 0;
  line-height:1.1;
}

.historia-text p{
  color:#475569;
  line-height:1.8;
  font-size:18px;
}

.historia-text button{
  margin-top:25px;

  padding:15px 28px;
  border:none;

  background:#032b5c;
  color:white;

  border-radius:10px;

  cursor:pointer;
  transition:.3s;
}

.historia-text button:hover{
  background:#f59e0b;
}

/* =========================
VALORES
========================= */

.valores{
  margin-top:70px;
  text-align:center;
}

.valores span{
  color:#f59e0b;
  font-weight:bold;
  text-transform:uppercase;
}

.valores h2{
  margin-top:10px;
  font-size:44px;
  color:#082f63;
}

.cards{
  margin-top:40px;

  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
}

.card{
  background:white;
  border-radius:20px;
  padding:35px;
  text-align:left;
  display: block;
  transition:.3s;
}

.card:hover{
  transform:translateY(-8px);
}


.card i{
  font-size:80px;
  color:#f59e0b;
}

.card h3{
  margin:20px 0 10px;
  color:#082f63;
}

.card p{
  color:#64748b;
  line-height:1.7;
}

/* =========================
CTA
========================= */

.cta{
  margin:70px 0;

  background:#032b5c;
  border-radius:25px;

  padding:50px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

.cta-left span{
  color:#f59e0b;
  font-weight:bold;
  text-transform:uppercase;
}

.cta-left h2{
  color:white;
  font-size:48px;
  margin-top:15px;
}

.cta-right{
  max-width:400px;
}

.cta-right p{
  color:#dbeafe;
  line-height:1.8;
  margin-bottom:20px;
}

.cta-right button{
  padding:15px 35px;
  border:none;

  background:#f59e0b;
  color:white;

  border-radius:10px;

  cursor:pointer;
  font-size:16px;
  font-weight:bold;
}

.cta-right button:hover{
  padding:15px 35px;
  border:none;

  background:#d48906;
  color:white;

  border-radius:10px;

  cursor:pointer;
  font-size:16px;
  font-weight:bold;
}